<nav>
    <div class="set_title">
        <a href="/" class = "navigation" id="Logo-side">Projects</a>
        <!-- <p>-->
    </div>
    <ul>
        <li><a class = "navigation" href="/">Technologies used</a></li>
        <li><a class = "navigation" href="/about">About me</a></li>
        <li><a class = "navigation" href="/Download-files">Download files</a> </li>
    </ul>
</nav>
